[input]
constraint_type = latency
constraint = 820
constrained_bayesian_optimization = true
network = resnet
dataset = imagenet

[cbo]
relaxation_function = one-step
fine_pruning_iterations = 1
look_ahead = false
tradeoff_factor = 1.0
exp_factor = 0.5
bo_iters = 100

[fine-tuning-dtd]
max_iter = 1000
base_lr = 0.001
momentum = 0.9
test_iters = 38
test_interval = 200
disp_interval = 100
step_iters = 100

[fine-tuning-imagenet]
max_iter = 10000
base_lr = 0.001
momentum = 0.9
test_iters = 3125
test_interval = 5000
disp_interval = 1000
step_iters = 1000
