[input]
constraint_type = latency
constraint = 70
constrained_bayesian_optimization = true
network = alexnet
dataset = imagenet

[cbo]
relaxation_function = exponential
fine_pruning_iterations = 5
tradeoff_factor = 1.0
exp_factor = 0.5
bo_iters = 200

[fine-tuning-dtd]
max_iter = 1000
base_lr = 0.001
momentum = 0.9
test_iters = 38
test_interval = 200
disp_interval = 100
step_iters = 100

[fine-tuning-imagenet]
max_iter = 10000
base_lr = 0.001
momentum = 0.9
test_iters = 1000
test_interval = 2000
disp_interval = 500
step_iters = 500
