[input]
constraint_type = latency
constraint = 60
constrained_bayesian_optimization = false
network = alexnet
dataset = dtd

[cbo]
relaxation_function = one-step
fine_pruning_iterations = 1
look_ahead = false
tradeoff_factor = 1
exp_factor = 0.5
bo_iters = 200

[fine-tuning-dtd]
max_iter = 3000
base_lr = 0.001
momentum = 0.9
test_iters = 38
test_interval = 200
disp_interval = 100
step_iters = 100

[fine-tuning-imagenet]
max_iter = 10000
base_lr = 0.001
momentum = 0.9
test_iters = 1000
test_interval = 5000
disp_interval = 2500
step_iters = 2500
